/* *** CSS RESET *** */
* {
    margin: 0;
    padding: 0;
}

/* *** ELEMENTS *** */
body {
    background-color: #111111;
    color: #C9C9C9;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 100%;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4.6em;
    font-kerning: none;
    color: #FF4A4A;
    line-height: 0.95em;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.4em;
    font-kerning: none;
    color: #F7F7F6;
    line-height: 0.95em;
}

h3 {
    font-size: 2.2em;
    font-kerning: none;
    color: #F7F7F6;
}

h4 {
    font-size: 1.8em;
    font-kerning: none;
    color: #F7F7F6;
}

p {
    font-size: 1.2em;
    margin: 25px 0;
}

a {
    color: #C9C9C9;
}

a:hover {
    color: #FF4A4A;
}

img {
   max-width: 100%;
   margin: 30px 0;
}

.round-corners {
    border-radius: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.center {
    text-align: center;
    padding: 0 12%;
}

.spacer {
    width: 100%;
    height: 80px;
}

@media (max-width: 650px) {
    .center {
        text-align: center;
        padding: 0;
    }
    .container {
        width: 90%;
    }
}

/* *** NAVIGATION BAR *** */
nav {
    background-color: #000000;
    position: fixed;
    display: flex;
    justify-content: space-between; /* spaces image (.nav-left) and links (.nav-right) */
    align-items: center;
    width: 100%;
    padding: 10px;
}

.nav-logo {
    width: 35px;
    margin: 5px 0;
}

.nav-left {
    margin-left: 12px;
}

.nav-right {
    margin-right: 50px;
    margin-left: auto; /* pushes links to the right side */
}

.nav-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.nav-right ul li {
    display: inline-block; /* displays links horizontally */
    margin-left: 15px;
}

.nav-right ul li a {
    color: #F7F7F6;
    text-decoration: none;
    font-size: 1.3em;
}

.nav-right a:hover {
    color: #FF4A4A;
}

.nav-open {
    display: block;
}

#hamburgerIcon {
    display: none;
    color: #F7F7F6;
    font-size: 36px;
    margin-right: 50px;
    padding-bottom: 12px;
    cursor: pointer;
}

@media (max-width: 650px) {
    .nav-right {
        background-color: #000000;
        display: none;
        position: absolute; /* used to keep hamburger menu icon in place after clicked on */
        right: 0;
        width: 100%;
        text-align: right; /* this aligns menu items to the right */
        margin-left: auto; /* this pushes the menu items to the right */
        margin-top: 265px;
        margin-right: 0;
        padding-right: 90px;
    }
    .nav-right.show {
        display: block;
    }
    .nav-right ul li {
        display: block;
        margin: 20px 0;
    }
    #hamburgerIcon {
        display: block;
    }
}

@media (min-width: 651px) {
    .nav-right {
        display: flex;
    }
    #hamburgerIcon {
        display: none;
    }
}

/* *** START SECTION *** */
.start-section {
    width: 80%;
    height: 100vh; /* 100vh = screen height */
    margin: 0 auto;
    display: flex; /* display and flex-direction makes container divide in two */
    align-items: center;
    justify-content: center;
}

.start-left,
.start-right {
    width: 48%;
    padding: 10px;
}

.start-left p {
    font-size: 1.4em;
    max-width: 350px;
    margin-top: 10px;
}

.start-right {
    text-align: center;
}

.start-right img {
    width: 100%;
    max-width: 250px;
    min-width: 200px;
}

@media (max-width: 800px) {
    .start-section {
        flex-direction: column;
        text-align: center;
    }
    .start-left,
    .start-right {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .start-left {
        margin-top: 50px;
    }
    .start-left p {
        margin: 0 auto;
        padding-top: 10px;
    }
    .start-right img {
        width: 100%;
        max-width: 170px;
        min-width: 120px;
        padding-bottom: 20px;
    }
}

/* *** ABOUT SECTION *** */
.ml-pic {
    width: 100%;
    max-width: 270px;
    min-width: 200px;
}

.skills {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills li {
    padding: 0 30px;
    max-width: 80px;
    display: flex; /* centers items vertically */
    flex-direction: column;
    align-items: center;
    height: 200px; /* use this for Safari image issue - it was being displayed as a vertically stretched image */
}

.skills li p {
    margin: 0; 
    text-align: center;
}

.skills li img { /* use this for Safari image issue - it was being displayed as a vertically stretched image */
    height: 80px;
    width: auto;
    object-fit: contain;
}

/* *** PROJECTS SECTION *** */
.project-gallery {
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 30px;
}

.project-gallery img {
    height: 270px;
    object-fit: cover;
    border-radius: 14px;
    border: 3px solid #000000;
}

.project-gallery::after {
    content: "";
    width: 350px;
}

/* *** CONTACT SECTION *** */
form {
    width: 80%;
    min-width: 270px;
    max-width: 575px;
    margin: 0 auto;
}  

fieldset {
    border: none;
} 

label {
    display: block;
    margin-top: 30px;
    text-align: left;
} 

input, textarea, select {
    width: 95%;
    margin: 8px 0 0 0;
    min-height: 25px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 16px;
    border-radius: 4px;
} 

input, textarea {
    background-color: #393939;
    border: 8px solid #393939;
    color: #F7F7F6;
}

input[type="submit"] {
    display: block;
    width: 25%;
    min-width: 70px;
    max-width: 100px;
    margin: 20px auto 10px auto;
    height: 40px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 14px;
    background-color: #393939;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    font-weight: bold;
    background-color: #FF4A4A;
    border-color: #FF4A4A;
}

@media (max-width: 650px) {
    input[type="submit"] {
        width: 70%;
        max-width: 170px;
        height: 50px;
    }
}

/* *** FOOTER SECTION *** */
footer {
    background-color: #000000;
    padding: 30px 0;
    text-align: center;
    box-sizing: border-box;
}

footer p {
    margin-bottom: 0px; /* required to remove blank space below footer */
    padding-bottom: 20px;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block; /* displays icons horizontally */
}

.socials img {
    width: 45px;
}

.socials a {
    display: inline-block;
    margin: 0 20px;
}

.socials a:link {
    text-decoration: none;
}